<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Node | Join</title>
    <link rel="stylesheet" href="/css/chat.css">
  </head>
  <body class="centered-form">
    <div class="centered-form__form">
      <form action="/chat">
        <div class="form-field">
          <h3>Link Connect Chat</h3>
        </div>
        <div class="form-field">
          <label for="">Display Name</label>
          <input type="text" name="name" required autofocus>
        </div>
        <div class="form-field">
          <label for="">Room Name</label>
          <input type="text" name="room" required>
        </div>
        <div class="form-field">
          <button>Join</button>
        </div>
      </form>

      <form class="" action="/user/home" >
        <div class="form-field">
          <button>Cancel</button>
        </div>
      </form>

    </div>
    <script type="text/javascript" src="/js/libs/jquery.3.1.0.min.js"></script>
  </body>
</html>
