<style media="screen">
.navbar-inverse .navbar-brand {color:white;font-style:'Arial'; font-size: 25px}
@media screen and (max-width:860px) {
  .navbar{
    /* position: fixed; */
    /* width: 90%; */
    /* margin-bottom: 100px; */
  }
}
/* .pt-3 {padding-top: 6em;} */
</style>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <% if(!user){%>
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><b><%= title %></b> </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    <%} else { %>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/user/home"><b><%= title %></b> </a>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class=""><a id="Homebtn"href="/user/home">Home</a></li>
          <li  class=""><a id="Profilebtn" href="/user/<%= user.username %>">Profile </a></li>
          <li><a id="Communitybtn" href="/user/community/all">Community</a></li>
          <li><a id="Postbtn" href="/posts/all">Posts</a></li>
          <li><a id="Inboxbtn" href="/inbox/all">Inbox
            <% if(unread !== undefined) { %>
              (<%= unread %>)
            <% } %>
            </a></li>
            <li><a id="Chatbtn" href="/chat/login">Chat</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
          </ul>

      </div>
    <%}%>
  </div>
</nav>
<div class="pt-3">

</div>
