<% include partials/header %>

<ul class="nav navbar-nav navbar-right">
  <li><a style="border-radius: 20px;"class="log" href="/register"><span class="log glyphicon glyphicon-user"></span> Sign Up</a></li>
  <li><a style="border-radius: 20px;"class="log" href="/login"><span class="log glyphicon glyphicon-log-in"></span> Login</a></li>
</ul>


      <div class="container-fluid ">
        <div class="text-center titleDiv">
          <h1><%= title %></h1>
          <!-- <p><%= title %></p> -->
          <div class="raven-wrap" style="background-color:red; border-radius:50%;width:250px; height:250px;padding-top:40px;margin: 15px auto;box-shadow: 1.2px 1.2px 6px #fff;">
            <img src="/raven2.png"  width="200" alt="">
          </div>
        </div>
        <div class="row">
        </div>
      </div>


<% include partials/footer %>
