<% include partials/header %>
<% include partials/nav %>

    <div class="container-fluid jumbotron">
      <div class="text-center">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
      </div>
      <div class="row">
      </div>
    </div>

<% include partials/footer %>
