<% include partials/header %>
<% include partials/nav %>

    <!-- <img id="landing" src="images/social-networking.jpg" alt="image source:http://isciencemag.co.uk/blog/are-you-a-social-network-junkie/"> -->

      <div class="container-fluid ">
        <div class="text-center titleDiv">
          <!-- <h1><%= title %></h1> -->
          <p>Welcome to <br><%= title %></p>
        </div>
        <div class="row">
        </div>
      </div>


<% include partials/footer %>
