body {
  padding: 10px 25px;
  font: 14px Verdana, Geneva, sans-serif;
  color: #000;
  text-shadow: 1.5px 1.5px 2px #ff3333;
  background-color: #333;
  /* background-color: rgb(17, 32, 78); */

  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */

  /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; */
 /* background-blend-mode: multiply,multiply; */

/* background-image: radial-gradient(circle, red, yellow, green); */



}
.model {
  background-color: #333;
}
.log{ color:#fff;}
img#landing {
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: -500px;
}
.titleDiv {  text-shadow: .5px .5px 2px #ff3333;}
@media screen and (max-width: 500px) {
  img#landing {
    margin-top: -250px;
  }
  .titleDiv {
    font-weight: bold;
    font-size: 6vw;
  }
}

@media screen and (min-width: 500px) {
  img#landing {
    margin-bottom: -700px;
  }
  .titleDiv {
    margin-top: 75px;
    font-weight: bold;
    font-size: 7vw;
  }
  .picWrap {
    height: 420px;
    margin-top: 50px
  }
  .jumbotron {
    margin-top: 50px;
  }
}

@media screen and ( min-width: 1000px) {
  img#landing {
    margin-bottom: -850px;
  }
  .titleDiv {
    margin-top: 75px;
    font-weight: bold;
    font-size: 6vw;
  }

}
.jumbotron {
  background-color: rgba(255, 255, 255, 0.75);
  border: 3px solid #000;
  border-radius: 12px;
}
.picWrap {
  padding: 25px;
  background-image: url('/images/social-networking.jpg');
  background-position: center;
  border-radius: 12px;
}

a {
  color: #00B7FF;
}

#inboxAll tr th {
  text-align: center;
}
#inboxAll {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#inboxAll td, #inboxAll th {
    border: 1px solid #ddd;
    padding: 8px;
}

#inboxAll tr:nth-child(even){background-color: #f2f2f2;}

#inboxAll tr:hover {background-color: #ddd;}

#inboxAll th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #222;
    color: white;
}

.delBtn:hover {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.postLink,
.postLink:hover {
  color:#000;
  font-weight:bold;
  text-shadow: 1px 1px 1px red;
}
