<% include ../partials/header %>
<style media="screen">
  #Homebtn {color:#fff;font-weight: bold;}
</style>
<% include ../partials/nav %>

    <div class="container-fluid jumbotron text-center">
      <h2>Welcome, <%= name %>!</h2>
    </div>

<% include ../partials/footer %>
